torch==2.8.0
sentence_transformers
faiss-cpu
numpy==2.2.6
rapidfuzz
vllm==0.11.0
sglang
jsonlines
pytz
easydict
pandas
matplotlib
pexpect
jload
tqdm
openai
flashinfer-python
transformers==4.57.3
datasets
huggingface-hub
ray[client]
requests[socks]
PySocks
httpx[socks]
z3-solver